PORT=8080
DB_NAME=postgres_db
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_PORT=5432
KAFKA_PORT=9092
DATABASE_URL=postgres://postgres_user:postgres_password@localhost:5432/postgres_db?sslmode=disable
KAFKA_BROKERS=localhost:9092